.pagenation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 10px;
    &__item {
        cursor: pointer;
        padding: 10px;
        border: 1px solid #344767;
        border-radius: 5px;
        background-color: #f4a7348a;
    }
}
